<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Somos 2 hermanos aficionados por las zapatillas Nike, con mas de 10 años coleccionandolas y siguiendo la pasion. Como amantes de esta cultura ofrecemos productos 100% originales e importados.">
    <meta name="keywords"  content="zapatillas, nike, jordans, exclusivo">
    <script src="https://kit.fontawesome.com/ffdaaf4807.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../public/img/logo.jpg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Nosotros!</title>
</head>
<body class="cuerpo">
    <div><!-- inicio cartel envio --> 
     <h4 class="envio">Envios a todo el pais. Pagá con el método de pago que prefieras. </h4>
    </div> <!-- cierre cartel envio --> 
  
    <header> <!-- inicio fila deL titulo + nav --> 
            <div class="menu">
              <nav class="navbar navbar-expand-lg bg-#EEEEEE">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button"        data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                      <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                          <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="./nosotros.html">Nosotros</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="./contacto.html">Contacto</a>
                          </li>
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Productos
                              </a>
                            <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                              <li><a class="dropdown-item" href="../views/producto1.html">Nike Jordan "Hyper Royal"</a></li>
                              <li><a class="dropdown-item" href="../views/producto2.html">Nike Jordan "Bred Toe"</a></li>
                              <li><a class="dropdown-item" href="../views/producto3.html">Nike Blazer Mid</a></li>
                              <li><a class="dropdown-item" href="../views/producto4.html">NIKE Dunk "Spartan Green"</a></li>
                              <li><a class="dropdown-item" href="../views/producto5.html">NIKE Dunk "Black White"</a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                </div>
              </nav>
            </div>
            <div>
              <img src="../public/img/logo.jpg" class="logo">
            </div>
    </header> <!-- cierre fila deL titulo + nav --> 

    <section class="somoshype">
        <div class="somoshype_contenedor">
            <div>
                <img src="../public/img/ImagenNosotros.jpg" class="somoshype_imagen">
            </div>
            <div class="somoshype_texto">
                <h2 class="somoshype_titulo">SOMOS HYPECBA</h2>
                <p class="somoshype_parrafo"> Somos 2 hermanos aficionados por las zapatillas Nike, con mas de 10 años coleccionandolas y siguiendo la pasion. Como amantes de esta cultura ofrecemos productos 100% originales e importados.</p>
            </div>
        </div>
    </section>

   <br>
   
   <section class="somoshype">
        <div class="somoshype_contenedor2">
            <div class="somoshype_texto">
                <h2 class="somoshype_titulo">SHOWROOM</h2>
                <p class="somoshype_parrafo"> Podes venir a probarte nuestros productos sin compromiso, de Lunes a Sabado de 13:00 a 21:00hs!</p>
            </div>
            <div>
                <img src="../public/img/nosotross.jpg" class="somoshype_imagen">
            </div>
        </div>
    </section>

    <br>
    
    <section class="somoshype">
        <div>
            <h2 class="somoshype_titulo">DONDE ESTAMOS?</h2>
            <p class="somoshype_parrafo">Podes encontrarnos en la Zona Sur de la ciudad de Cordoba, estamos ubicados en el Paseo del Jockey Bv Elias Yofre 1050</p>
        </div>
        <br>
        <div class="mapaubicacion">
            <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13615.635656776696!2d-64.18331629999999!3d-31.44417445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a2e234b6d23f%3A0xb9f17de401ae729b!2sPaseo%20del%20Jockey!5e0!3m2!1sit!2sar!4v1651691914960!5m2!1sit!2sar" width="400" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>

    <section>
        <div>
            <h2 class="somoshype_titulo">POLITICA DE GARANTIA</h2>
            <p class="somoshype_parrafo">Algo que nos caracteriza es la sinceridad y transparencia con el cliente, asi que con la compra de cualquier producto te damos una garantia de 30 dias!</p>
        </div>
        <div class="div_imagen" >
            <img src="../public/img/nosotros3.jpg" class="somoshype_imagen2">
        </div>
    </section>
    <footer > <!-- inicio footer -->
        <div class="footer">
            <ul>
                  <div>
                      <h3 class="titulo_footer">Acerca de HypeCBA</h3>
                  </div>
                  <div>
                      <p class="texto_footer">Somos un empresa dedicada a la venta de zapatillas Nike, con la idea de ofrecer los mejores productos a nuestros clientes!</p>
                  </div>
                  <div class="iconos">
                    <i class="fa-brands fa-facebook-square"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-twitter-square"></i>
                    <i class="fa-brands fa-youtube"></i>
                  </div>
            </ul>
        </div>
    </footer><!-- cierre footer -->
    
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>