<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Somos 2 hermanos aficionados por las zapatillas Nike, con mas de 10 años coleccionandolas y siguiendo la pasion. Como amantes de esta cultura ofrecemos productos 100% originales e importados.">
    <meta name="keywords"  content="zapatillas, nike, jordans, exclusivo">
    <link rel="icon" href="../public/img/logo.jpg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Nosotros!</title>
</head>
<body class="cuerpo">
    <div><!-- inicio cartel envio --> 
     <h4 class="envio">Envios a todo el pais. Pagá con el método de pago que prefieras.</h4>
    </div> <!-- cierre cartel envio --> 
  
    <header> <!-- inicio fila deL titulo + nav --> 
            <div class="menu">
              <nav class="navbar navbar-expand-lg bg-#EEEEEE">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button"        data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                      <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                          <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="./nosotros.html">Nosotros</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="./contacto.html">Contacto</a>
                          </li>
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Productos
                              </a>
                            <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                              <li><a class="dropdown-item" href="../views/producto1.html">Nike Jordan "Hyper Royal"</a></li>
                              <li><a class="dropdown-item" href="../views/producto2.html">Nike Jordan "Bred Toe"</a></li>
                              <li><a class="dropdown-item" href="../views/producto3.html">Nike Blazer Mid</a></li>
                              <li><a class="dropdown-item" href="../views/producto4.html">NIKE Dunk "Spartan Green"</a></li>
                              <li><a class="dropdown-item" href="../views/producto5.html">NIKE Dunk "Black White"</a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                </div>
              </nav>
            </div>
            <div>
              <img src="../public/img/logo.jpg" class="logo">
            </div>
    </header> <!-- cierre fila deL titulo + nav --> 

    <section class="imagen-titulo"> <!--inicio fotos principal-->	
        <div>
            <img src="../public/img/ImagenNosotros.jpg" class="imagenPrincipal1">
        </div>
        <div class="titulo1">
            <p class="weare">WE ARE HypeCBA </p>
        </div>
    </section> <!-- cierrefotos principal-->

   <br>
   
    <div> <!--inicio showroom-->
       <section>
           <article><!--showroom-->
                <h2 class="titulosSecundarios">SHOWROOM</h2>
                <p class="textos">Podes venir a probarte nuestros productos sin compromiso, de Lunes a Sabado de 11:00 a 21:00hs!</p>
                <div class="divShowroom">
                    <div class="div3imagenes">
                        <img class="imagenesShowroom" src="../public/img/nosotros1.jpg" alt="">
                    </div>
                    <div class="div3imagenes">
                        <img class="imagenesShowroom" src="../public/img/nosotros2.jpg" alt="">
                    </div>
                    <div class="div3imagenes">
                        <img class="imagenesShowroom" src="../public/img/nosotros3.jpg" alt="">
                    </div>
                </div>
                
           </article>
       </section>
    </div> <!--cierre showroom-->

    <br>
    
    <div> <!--inicio ubicacion local-->
        <section>
            <article><!--ubicacion-->
                <h2 class="titulosSecundarios">DONDE ESTAMOS?</h2>
                <p class="textos">Podes encontrarnos en la Zona Sur de la ciudad de Cordoba, estamos ubicados en el Paseo del Jockey Bv Elias Yofre 1050</p>
                <div class="mapaubicacion">
                    <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13615.635656776696!2d-64.18331629999999!3d-31.44417445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a2e234b6d23f%3A0xb9f17de401ae729b!2sPaseo%20del%20Jockey!5e0!3m2!1sit!2sar!4v1651691914960!5m2!1sit!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </article>
        </section>
    </div><!--cierre ubicacion local-->

    <br>
    <br>

    <footer > <!-- inicio footer -->
        <div>
            <ul class="footer">
                <div class="org-footer">
                    <li> <a class="Facebook"  href="https://www.facebook.com/">Facebook</a></li>
                </div>
                <div class="org-footer">
                    <li><a class="Instagram" href="https://www.instagram.com/">Instagram</a></li>
                </div>
                <div class="org-footer">
                    <li><a class="Contacto" href="./views/contacto.html">Contacto</a></li>
                </div>
                <div class="org-footer">
                    <li>Metodos de pago</li>
                </div>
          </ul>
        </div>
    </footer><!-- cierre footer -->
    
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>