*{
    margin: 0;
    padding: 0;
}

/*cartel de envio gratis*/
.envio{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.849);
    color: #EEEEEE;
    padding: 8px;
}
/*cierre cartel de envio gratis*/

/*configuracion cuerpo del html*/
#cuerpo{
    background-color: #EEEEEE;
}   
/*cierre configuracion cuerpo del html*/

/*inicio titulo + nav*/
#header{
    display: grid;
    grid-template-columns: 45% 55%;
    padding: 10px;
}

#header #tituloPrincipal{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(236, 0, 0);
}
.menu{
    list-style: none;
    padding: sticky;
    background-color: #EEEEEE;
    display: 100%;
}
.menu li a{
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
    font-size: 1.2rem;
}
.menu li {
    display: inline-block;
    text-align: center;
    position: relative;
}
.menu ul li:before{
    content: "";
    height: 3px;
    width: 0%;
    background: rgb(236, 0, 0);
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.3s ease-out;
}
.menu ul li:hover::before{
    width: 100%;
}
/*cierre titulo + nav*/

/*inicio imagen pagina index*/
.imagenPrincipal1{
    margin: 0;
    width: 100%;
    height: 628px;
    image-resolution: 1080;
}
/*cierre imagen pagina index*/

/*inicio imagen index + titulo*/
.imagen-titulo{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 4px;
}
.titulo1{
    border-left: solid black 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 628px;
}
.weare{
    font-size: 50px;
}
/*cierre imagen index + titulo*/

.imagenPrincipal2{
    margin: 0;
    width: 100%;
    height: 540px;
    image-resolution: 1080;
}

/*inicio titulos secundarios*/
.titulosSecundarios{
    font-style: italic;
    text-align: center;
    line-height: 1.5;
}
/*cierre titulos secundarios*/

/*inicio 3 imagenes index*/
.productos-div{
    display: flex;
    justify-content: space-around;
}
.productos-index{
    border: solid 2px black;
}
.imagenesProd{
    width: 350px;
    height: 350px;
}

/*cierre 3 imagenes index*/

/*inicio textos generales*/
.textos{
   text-align: center;
}
/*cierre textos generales*/

/*inicion boton conocenos*/
.sub-conocenos{
    display: flex;
    justify-content: center;
    padding: 8px;
}
.botonConocenos{
    background-color: black;
    color: white;
    position: relative;
    cursor: pointer;
    transition:0.5s ;
}
.botonConocenos:hover{
    color: red;
    
}
/*cierre boton conocenos*/
.enviar{
    background-color: black;
    color: white;
}

/*inicio imagen conocenos*/
.imagenPrincipal{
    margin: 0;
    width: 100%;
    height: 570px;
}
/*cierre imagen conocenos*/

/*inicio imagenes productos*/

.imagenesProductos{
   border: solid black 2px;
   width: 300px;
   height: 300px;
  margin-left: 40%;
  margin-top: 20px;
}
.tamanoImagenes{
    width: 300px;
    height: 300px;
}
/*cierre imagenes productos*/

/*inicio titulos productos*/
.titulosProductos{
    text-align: center;
    text-decoration: underline;
}
.titulosProductos a{
    text-decoration: none;
    color: black;
    text-align: center;
}
/*cierre titulos productos*/

/*inicio formulario contacto*/
.formulario-imagen{
    display: grid;
    grid-template-columns:55% 45%;
}
.imagenformu img{
    width: 100%;
    height: 630px;
}
.formulario{
    margin-left: 5px;
    display: grid;
    grid-template-columns: max-content;
    align-items: center;
    justify-items: center;
}

    .caja-formulario{
        width: 100%;

    }
/*cierre formulario contacto*/

.mapaubicacion{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.imagenProductos{
  width: 500px;
  height: 450px;
  border: solid black 2px;
  margin: 5px;
}

/* inicio footer*/
.footer{
    list-style: none;
    color: black;
    display: 100%;
    border-top-style: groove;
    border-color: black;    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 5px;
    cursor: pointer;
}

.footer li a{    
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
}

.footer li{ 
    display: flex;
    align-items: center;
}

.imagenMP{
    width: 200px;
    height: 50px;
}

.org-footer{
    display: flex;
    justify-content: center;
}
/*cierre footer*/

/*responsive style*/

@media (min-width:0px) and (max-width: 460px) {
    .menu{
        display: none;
    }

    #tituloPrincipal{
        margin-left: 100px;
        margin-right: 100px;
    }

    .imagenPrincipal1{
        max-height: fit-content;
        max-width: fit-content;
    }

    .imagen-titulo{
        display: grid;
        grid-template-columns: 100%;
        height: max-content;
    }

    .titulo1{
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        color: #EEEEEE;
        background-color: black;
    }

    .weare{
        padding: 0;
        margin: 0;
        font-size: x-large;
    }

    .productos-div{
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
        height: max-content;
        width: max-content;
        gap: 5px;
    }

    .imagenesProd{
        width: 300px;
        height: 250px;
    }

    .titulosSecundarios{
        margin-left: auto;
        margin-right: auto;
    }

    .formulario-imagen{
        display: grid;
        grid-template-columns: 100%;
    }
    
    .contactanos{
        margin-left: 80px;
        margin-right: 60px;
    }

    .imagenesProductos{
        border: solid black 2px;
        width: 200px;
        height: 200px;
     }

     .tamanoImagenes{
         width: 200px;
         height: 200px;
     }

     .imagenProductos{
        width: 300px;
        height: 300px;
        border: solid black 2px;
        margin: 5px;
      }

      .footer{
        display: flex;
        flex-direction: column;
    }

}
   
