*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cuerpo{
    background-color: $bg;
}
        
.envio{
    @include flex-center;
    text-align: center;
    height: 40px auto;
    background-color: $bg2;
    color: $bg;
    padding: 8px;
    font-size: medium;
    font-weight: bold;
}
