.footer{
    @include sizes(100%, 150px);
    list-style: none;
    color: $bg;
    border-color: $negro;    
    margin: 0px auto;
    cursor: pointer;
    background-color: $bg2;
    text-align: center;
}

.titulo_footer{
    @include flex-center;
    font-size: 1.8rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.texto_footer{
    @include flex-center;
    font-size: 0.9rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin: 30px auto;
}
.iconos{
    @include flex-center;
    gap: 10px;
    i{
        font-size: 24px;
        align-self: center;
    }
}
@media (min-width:0px) and (max-width: 768px) {
    .footer{
        @include flex-center;
        height: 180px;
    }
    .texto_footer{
        @include flex-center;
        font-size: 0.8rem;
        font-weight: bold;
        margin: 0px auto;
        text-align: center;
    }
    .iconos{
        @include flex-center;
        gap: 10px;
        margin-top: 10px;
    }
}