.footer{
    list-style: none;
    color: $negro;
    border-top-style: groove;
    border-color: $negro;    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 5px auto;
    cursor: pointer;
    background-color: $bg;
    -webkit-transition: color 1s linear;
    transition: color 2s linear;
    li{
        display: flex;
        align-items: center;
        a{
            text-decoration: none;
            color: $negro;
            display: flex;
            justify-content: center;
            margin-top: 10px;
                
        }
    }
}

.Facebook{
    &:hover{
        color: map-get($color,primary)
    }
}
.Instagram{
    &:hover{
        color: map-get($color,secondary)
    }
}
.Contacto{
    &:hover{
        color: map-get($color,tertiary)
    }
}
.org-footer{
    @include flex-center;
}

@media (min-width:0px) and (max-width: 460px) {
    .footer{
        @include flex-center;
        flex-direction: column;
    }
}