header{
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 10px;
    .menu{
        list-style: none;
        padding: sticky;
        background-color: $bg;
        display: 100%;
        li{
            display: inline-block;
            text-align: center;
            position: relative;
            a{
                text-decoration: none;
                color: $negro;
                padding: 10px;
                display: block;
                font-size: 1.2rem;
                text-align: start;
                font-family: 'Raleway', sans-serif;
                font-weight: bold;
            }
            &:before{
                content: "";
                @include sizes(0%, 3px);
                background: $rojo;
                position: absolute;
                left: 0;
                bottom: -2px;
                transition: 0.3s ease-out;
            }
            &:hover::before{
                width: 100%;
            }
        }
    }
    .logo{
        @include sizes(50px, 50px);
        border-radius: 10px;
        padding: 0;
    }
}