.imagen-titulo{
    display: grid;
    grid-template-columns: 50% 50%;
}
.imagenPrincipal1{
    @include sizes(99%, 590px);
    margin-left: 5px;
    margin-right: 5px;
    image-resolution: 1080;
    border-radius: 5px;
}
.titulo1{
    @include flex-center;
    @include sizes(99%, 590px);
    border-left: solid $negro 3px;
    align-items: center;
    .weare{
        font-size: 80px;
        font-family: 'Bebas Neue', cursive;
    }
}
.titulosSecundarios{
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    text-align: center;
    line-height: 1.5;
    font-weight: bold;
}
.textos{
    @include flex-center;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}

@media (min-width:0px) and (max-width: 768px) {
    
    .imagen-titulo{
        display: grid;
        grid-template-columns: 100%;
        height: max-content;
    }
    .imagenPrincipal1{
        max-height: 450px;
        max-width: 100%;
    }
    .titulo1{
        @include flex-center;
        border: none;
        align-items: center;
        height: auto;
        color: $bg;
        background-color: $negro;
    }
    .weare{
        @include none;
    }
    .titulosSecundarios{
        margin-left: auto;
        margin-right: auto;
    }
}