.imagen-titulo{
    display: grid;
    grid-template-columns: 50% 50%;
}
.imagenPrincipal1{
    @include sizes(99%, 590px);
    margin-left: 5px;
    margin-right: 5px;
    image-resolution: 1080;
    border-radius: 5px;
}
.titulo1{
    @include flex-center;
    @include sizes(99%, 590px);
    border-left: solid $negro 3px;
    align-items: center;
    .weare{
        font-size: 80px;
        font-family: 'Bebas Neue', cursive;
    }
}
.titulosSecundarios{
    font-family: 'Tai Heritage Pro', serif;
    font-size: xx-large;
    text-align: center;
    line-height: 1.5;
}
.textos{
    text-align: center;
    font-family: 'Tai Heritage Pro', serif;
    font-size: larger;
}
.botonConocenos{
    padding: 15px 25px;
    margin: 0px;
    font-size: 16px;
    border: 2px solid $negro ;
    color: $negro;
    cursor: pointer; 
    background: linear-gradient(to right, $rojo 50%, transparent 50%);
    background-size: 200%;
    background-position: right;
    transition: background-position 0.5s;
    &:hover{
        background-position: left;
        color: $negro;
        font-weight: 700;
    }
}

@media (min-width:0px) and (max-width: 460px) {
    
    .imagen-titulo{
        display: grid;
        grid-template-columns: 100%;
        height: max-content;
    }
    .imagenPrincipal1{
        max-height: 450px;
        max-width: 100%;
    }
    .titulo1{
        @include flex-center;
        border: none;
        align-items: center;
        height: auto;
        color: $bg;
        background-color: $negro;
    }
    .weare{
        @include none;
    }
    .botonConocenos{
        @include none;
    }
    .titulosSecundarios{
        margin-left: auto;
        margin-right: auto;
    }
}