.divShowroom{
    @include flex-center;
}
.div3imagenes{
   display: inline-block;
   position: relative;
   margin: 0px 10px 20px 10px;
   padding: 0;
   border: $negro 2px solid;
   border-radius: 10px;
}
.imagenesShowroom{
    @include sizes(300px, 300px);
    border-radius: 10px;
    &:hover{
        filter: opacity(.5);
    }
}
.mapaubicacion{
    @include flex-center;
    padding: 0;
    margin: 0;
}

@media (min-width:0px) and (max-width: 460px) {

    .divShowroom{
        @include none;
    }
}    